---
import CurrentTime from '@/components/CurrentTime.vue'
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import { HomeData } from '@/content/websiteData'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <p>~/Full-Stack Developer</p>
    <div class="intro-section">
      <h1 class="text-title">Gambhir Sharma</h1>
      <div class="intro-list">
        <span
          ><div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-map-pin"
              ><path
                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
              ></path><circle cx="12" cy="10" r="3"></circle></svg
            >
          </div>Rome, Italy
          <div><CurrentTime client:load /></div>
        </span>
        <span
          ><div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-briefcase-business"
              ><path d="M12 12h.01"></path><path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"></path><path
                d="M22 13a18.15 18.15 0 0 1-20 0"></path><rect width="20" height="14" x="2" y="6" rx="2"></rect></svg
            >
          </div>
          <div>
            <!-- Open to work: -->
            Intern
            <a href="https://www.cgi.com/en" target="_blank" class="prose-link"> @CGI </a>
            <!-- <a href="/assets/CV.pdf" download="Gambhir_Sharma_CV.pdf" target="_blank">download CV</a> -->
          </div>
        </span>
      </div>
      <p>
        I’m an undergraduate student at
        <a target="_blank" href="https://en.wikipedia.org/wiki/University_of_Rome_Tor_Vergata"
          >University of Rome Tor Vergata</a
        > & <b> Fullstack developer</b>.
        <!-- Spend most my time capturing -->
        <!-- <a target="_blank" href="https://en.wikipedia.org/wiki/Capture_the_flag_(cybersecurity)"> flags </a> -->
        <!-- at -->
        <!-- <a target="_blank" href="https://cyberchallenge.it/">cyberchallenge.it</a> -->
        <!-- with my minimal NeoVim <a target="_blank" href="https://github.com/gambhirsharma/nvim"> config</a>. -->
        I also work as a DevOps intern at CGI, where I manage Kubernetes clusters.
      </p>
    </div>
    <p>
      <img width="640" height="360" src="/wave.png" alt="Hero Image" />
    </p>
    <p>
      I am passionate about building stuff & optimizing it. I have worked at
      <a target="_blank" href="https://repocraft.com">Repocraft</a> and
      <a target="_blank" href="https://www.linkedin.com/in/gambhir-sharma/">MIMPI</a> as a Full-Stack Developer. Also being
      a Open Source enthusiast, I love contributing to open source projects check <a
        href="https://gambhirsharma"
        target="_blank">my GitHub</a
      > for more.
    </p>
    <!-- <p> -->
    <!--   I am a self-taught developer and I love to learn new things. I am always open to new opportunities and challenges. -->
    <!--   I am a quick learner and I love to work in a team. Here is <a -->
    <!--     href="/assets/CV.pdf" -->
    <!--     download="Gambhir_Sharma_CV.pdf" -->
    <!--   > -->
    <!--     my CV</a -->
    <!--   > -->
    <!-- </p> -->
    <h3 style="display: flex; align-items: center; gap: 0.5rem;">
      <i>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-briefcase-business"
          ><path d="M12 12h.01"></path><path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"></path><path
            d="M22 13a18.15 18.15 0 0 1-20 0"></path><rect width="20" height="14" x="2" y="6" rx="2"></rect></svg
        >
      </i>
      work
    </h3>
    <div style="all: none; padding-left: 0; margin-botton: 15px;">
      {
        HomeData.work.length > 0 &&
          HomeData.work.map((x) => (
            <div style="all:unset;">
              <h4>
                {x.duration.end === 'Present' && <i style="color:var(--text-primary-green-color">*</i>}
                {x.title}
              </h4>
              <i style="font-style:unset; color: grey">
                {x.position} (
                {x.duration.start instanceof Date ? x.duration.start.toISOString().slice(0, 7) : x.duration.start}
                {' ⋅ '}
                {x.duration.end === 'Present'
                  ? 'Present'
                  : x.duration.end instanceof Date
                    ? x.duration.end.toISOString().slice(0, 7)
                    : x.duration.end}
                )
              </i>
              <p style="margin: 0.7rem 0">{x.description}</p>
            </div>
          ))
      }
    </div>

    <br />
    <h3 style="display: flex; align-items: center; gap: 0.5rem;">
      <i>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-briefcase-business"
          ><path d="M12 12h.01"></path><path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2"></path><path
            d="M22 13a18.15 18.15 0 0 1-20 0"></path><rect width="20" height="14" x="2" y="6" rx="2"></rect></svg
        >
      </i>
      projects
    </h3>
    <div style="all: none; padding-left: 0; margin-botton: 15px;">
      {
        HomeData.project.length > 0 &&
          HomeData.project.map((x) => (
            <div style="all:unset;">
              <h4>
                <a href={x.url} target="_blank" class="prose-link">
                  {x.title}
                </a>
              </h4>
              <div>
                {x.techstack.map((tech) => (
                  <i style="margin-right: 5px; color: grey; font-style: normal;"> {tech}</i>
                ))}
              </div>
              <p style="margin: 0.7rem 0">{x.description}</p>
            </div>
          ))
      }
      <p>
        <a href="/projects" style="color: var(--text-primary-green-color); border-bottom-width: 0"> all projects ↗ </a>
      </p>
    </div>

    <!-- <p> -->
    <!--   I also love crafting cool <a href="https://www.codepen.io/gambhirsharma" target="_blank">codepen</a> -->
    <!-- </p> -->
    <hr class="hr-line" />
    <p>Find me on:</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      mail me at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>
    </p>
  </article>
</BaseLayout>

<style>
  .intro-section {
    .intro-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
    }
    span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
</style>
